#item{
    display: flex;
    background-color: rgba(218, 231, 231, 0.705);
    margin: 2px;
    border-radius: 5px;
    /* flex-shrink: initial; */
    /* justify-content: center; */
    /* flex-wrap:wrap; */
    flex-direction: row;

}
#container{
    width: 50vw;
    margin: auto;
    border: 2px solid black;
}
h2{
    /* width: 30%; */
    /* margin: 20px 0px; */
    text-align: center;
}
.para{
    box-sizing: border-box;
    width: 33%;
    margin: 5px;
    padding: 10px;
    /* border: 2px solid black; */
    text-align: center;
}